@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: url(./src/images/header-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
}

.nav-logo {
  width: 15rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

ul li {
  cursor: pointer;
}

header nav button {
  padding: 0.8rem 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.head-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
}

.head-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.head-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.head-section button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.zara img {
  width: 100%;
  height: 355px;
}

.faq-section {
  background-color: #fadcd9;
  padding: 50px 0;
}

.faq {
  margin-left: 160px;
}
.faq-card {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.faq-question {
  font-weight: bold;
  font-size: 1.2rem;
}
.faq-answer {
  margin-top: 10px;
  font-size: 1rem;
}

.cta-section {
  background-color: #fadcd9;
  padding: 50px 0;
}
.cta-box {
  background-color: #4b3cf5;
  border-radius: 20px;
  padding: 30px;
}
.cta-btn {
  background-color: #675be5;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
}
.image-grid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.estate img {
  width: 100%;
}

.learn {
  border-radius: 40px;
  width: 85px;
}

.adventure-card {
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  width: 100%;
  height: 250px;
  border-radius: 10px 10px 10px 10px;
}

.adventure-card h5 {
  color: white;
  background-color: #4b3cf5;
  padding: 25px;
  border-radius: 10px 10px 0 0;
}

.adventure-card .btn {
  background-color: #4b3cf5;
  color: white;
}

/* Testimonial section */
.testimonial {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social-icons i {
  font-size: 30px;
  margin: 0 10px;
}

.instagram {
  color: purple;
}

.form-container {
  margin-top: 50px;
  text-align: center;
}

.form-container input,
.form-container textarea {
  background-color: #d1cdcd;
  border: none;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
}

.form-container input::placeholder,
.form-container textarea::placeholder {
  color: white;
}

.send-btn {
  background-color: #4b3cf5;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
}

a {
  text-decoration: none;
}
