/* ========================================================= */
/* General styling & Desktop View */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}
img {
  display: block;
}
li {
  position: relative;
}
/* ========================================================= */
/* Scroll bar */
/* Scroll bar width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scroll bar Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/*Scroll bar Handle */
::-webkit-scrollbar-thumb {
  background: #646266;
}

/* ========================================================= */
/* General container */
.general_container {
  min-height: 100vh;
  background: #000000;
}

/* ========================================================= */
/* nav container */
.nav_container {
  width: 100%;
  display: flex;
  justify-content: end;
}

/* ========================================================= */
/* nav bar */
.nav {
  width: 95%;
  height: 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/* nav Logo */
.logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  background-color: white;
}

/* ========================================================= */
/* navigation icons */
.navigation_icons {
  width: 90%;
  display: flex;
  justify-content: end;
}

/* ========================================================= */
/* icons container */
.icons_container {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

/* ========================================================= */
/* icons text and profile name */
.icon_text,
.profile_name {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  line-height: 18.04px;
  font-family: "Catamaran", sans-serif;
}

/* ========================================================= */
/* icons  */
.icons {
  width: 23px;
  height: 20px;
}

/* ========================================================= */
/* new notifications  */
.new_notifications {
  top: 0;
  right: 20%;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  background: #d61818;
}

/* ========================================================= */
/* user profile */
.user_profile {
  width: 29.74px;
  height: 28.87px;
}

/* ========================================================= */
/* profile name */
.profile_name {
  font-size: 14px;
}

/* ========================================================= */
/* play icon */
.play_icon {
  width: 8px;
  height: 10px;
  margin-left: 0.3rem;
  display: inline-block !important;
}

/* ========================================================= */
/* general chat setup container */
.general_chat_setup_container {
  display: flex;
  overflow: hidden;
  height: calc(100vh - 84px);
}

/* ========================================================= */
/*  freinds section */
.friends {
  width: 449px;
  margin-top: 5rem;
  padding-left: 2rem;
  padding-right: 0.5rem;
  background: #28282882;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* ========================================================= */
/*  message title container */
.message_title_container {
  width: 80%;
  margin: auto;
  height: 80px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/*  message title */
.message_title {
  font-size: 22px;
  font-weight: 800;
  line-height: 32.78px;
  font-family: sans-serif;
  text-transform: capitalize;
}

/* ========================================================= */
/*  Edit icon*/
.edit_icon {
  width: 25px;
  height: 25px;
}

/* ========================================================= */
/*  search message container*/
.search_message_container {
  width: 80%;
  height: 44px;
  margin: auto;
  display: flex;
  border-radius: 15px;
  align-items: center;
  background: #282828;
  justify-content: space-evenly;
}

/* ========================================================= */
/*  search icon*/
.search_icon {
  width: 21px;
  height: 18px;
}

/* ========================================================= */
/*  search input */
.search_input {
  border: none;
  width: 250px;
  height: 32px;
  outline: none;
  font-size: 22px;
  font-weight: 400;
  padding-left: 1rem;
  line-height: 32.78px;
  font-family: sans-serif;
  text-transform: capitalize;
  background-color: transparent;
}
.search_input:focus {
  color: white;
}

/* ========================================================= */
/*  search icon*/
.reload_icon {
  width: 20px;
  height: 16px;
}

/* ========================================================= */
/*  chat header container*/
.chat_header_container {
  height: 75px;
  border: none;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

/* ========================================================= */
/*  line */
.line {
  height: 100%;
  display: flex;
  padding: 0 1rem;
  margin-top: 0.5rem;
  align-items: center;
}

/* ========================================================= */
/*  active_line funtionality */
.active_line {
  border-bottom: 4px solid #50164d;
}

/* ========================================================= */
/*  chat header title*/
.chat_header_title {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  line-height: 32.78px;
  font-family: sans-serif;
  text-transform: capitalize;
}

/* ========================================================= */
/*  active chat message */
.active_chat_messages {
  gap: 40px;
  width: 397px;
  display: grid;
  margin-top: 2rem;
  grid-column: auto;
  overflow-y: scroll;
  padding-bottom: 10rem;
  scroll-behavior: smooth;
  height: calc(65vh - 5rem);
}

/* ========================================================= */
/*  recent friends chat container */
.recent_friends_chat_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/*  Currently open chat functionality */
.currently_open_chat {
  padding: 1rem;
  background: #5a1656;
}
.opened_chat {
  color: black !important;
}

/* ========================================================= */
/* friends_profile */
.friends_profile {
  width: 60px;
  height: 60px;
}

/* ========================================================= */
/* about_friend */
.about_friend {
  width: 70%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

/* ========================================================= */
/* friend name*/
.friend_name {
  gap: 0.5rem;
  display: flex;
  color: white;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  line-height: 16.32px;
  font-family: sans-serif;
  letter-spacing: -0.01em;
}

/* ========================================================= */
/* friend emoji */
.friend_emoji {
  width: 20px;
  height: 20px;
}

/* ========================================================= */
/* online status */
.online_status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #50164d;
}

/* ========================================================= */
/*  camera icon */
.camera_icon {
  width: 24px;
  height: 22px;
}

/* ========================================================= */
/*  recent message */
.recent_message {
  font-size: 13px;
  font-weight: 500;
  color: #ffffff80;
  line-height: 12.24px;
  letter-spacing: -0.01em;
  font-family: sans-serif;
}

/* ========================================================= */
/* chat container section */
.chat_container {
  width: 70%;
  overflow: hidden;
  background: linear-gradient(
    233.4deg,
    #161515 72.23%,
    rgba(214, 24, 206, 0.92) 105.25%
  );

  border-radius: 15px 0px 0px 0px;
}

/* ========================================================= */
/* rooms containe */
.rooms_container {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

/* ========================================================= */
/*room kind  */
.room_kinds {
  gap: 4rem;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========================================================= */
/* room */
.room {
  display: flex;
  height: 100%;
  color: white;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  align-items: center;
  line-height: 18.15px;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
}

/* ========================================================= */
/* open room */
.open_room {
  width: 6px;
  height: 6px;
  bottom: 10%;
  position: absolute;
  border-radius: 50%;
}

/* ========================================================= */
/* opened room */
.opened_room {
  background-color: white;
}

/* ========================================================= */
/* craete room container */
.create_room_container {
  width: 30%;
  display: flex;
  color: white;
  font-size: 12px;
  font-weight: 400;
  align-items: center;
  line-height: 18.15px;
  justify-content: space-evenly;
  font-family: "Inter", sans-serif;
}

/* ========================================================= */
/* add icon */
.add_icon {
  color: white;
  width: 56px;
  height: 56px;
  display: flex;
  font-size: 30px;
  font-weight: 500;
  border-radius: 50%;
  align-items: center;
  background: #6c49f8;
  justify-content: center;
}

/* ========================================================= */
/* chatting page  container */
.chatting_page_container {
  height: 90%;
  display: flex;
  border-radius: 15px;
  background: #28282882;
}

/* ========================================================= */
/* chatting page  */
.chatting_page {
  width: 70%;
  padding-right: 2rem;
  padding-left: 1rem;
}

/* ========================================================= */
/* chatting page  */
.currently_chatting_friend {
  height: 15%;
  display: flex;
  padding-left: 1rem;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/* current chat detail  */
.current_chat_detail {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/* profile picture */
.profile_picture {
  width: 60px;
  height: 60px;
}

/* ========================================================= */
/* active user detail */
.active_user_detail {
  font-family: sans-serif;
}

/* ========================================================= */
/* active user name */
.active_user_name {
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.48px;
  margin-bottom: 0.3rem;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

/* ========================================================= */
/* last seen */
.last_seen {
  font-size: 11px;
  font-weight: 500;
  color: #ffffff80;
  line-height: 12.24px;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

/* ========================================================= */
/* all call icons  */
.all_call_icons {
  gap: 40px;
  display: flex;
}

/* ========================================================= */
/* call_icon*/
.call_icon {
  width: 26px;
  height: 26px;
}

/* ========================================================= */
/* video_call_icon */
.video_call_icon {
  width: 31px;
  height: 26px;
}

/* ========================================================= */
/* help_icon  */
.help_icon {
  width: 28px;
  height: 28px;
}

/* ========================================================= */
/* chat messages  */
.chat_messages {
  gap: 5px;
  height: 70%;
  overflow-y: scroll;
  font-family: sans-serif;
}

/* ========================================================= */
/* sender messages  */
.sender_message {
  gap: 10px;
  width: 60%;
  display: flex;
  padding: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  align-items: center;
  line-height: 20px;
  border-radius: 25px;
  background: #5a1656;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  border-bottom-left-radius: 0;
}

/* ========================================================= */
/* sender messages box design */
.sender_message_box_design {
  left: 0%;
  top: 98%;
  width: 90%;
  height: 20px;
  position: absolute;
  background: #5a1656;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 0,
    15% 100%,
    0 100%,
    0% 70%,
    0% 35%,
    0 0
  );
  border-bottom-left-radius: 20px;
}

/* ========================================================= */
/* sender messages , receiver emoji */
:is(.sender_emoji, .receiver_emoji) {
  width: 30px;
  height: 30px;
}

/* ========================================================= */
/* receiver messages  */
.receiver_message {
  gap: 10px;
  width: 60%;
  display: flex;
  padding: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 600;
  justify-self: end;
  position: relative;
  align-items: center;
  border-radius: 25px;
  line-height: 20px;
  background: #ffffff;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  border-bottom-right-radius: 0;
}

/* ========================================================= */
/* receiver messages box design */
.receiver_message_box_design {
  top: 98%;
  width: 90%;
  right: 0%;
  height: 20px;
  position: absolute;
  background: #ffffff;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 35%,
    100% 70%,
    100% 99%,
    79% 100%,
    0 0
  );
  border-bottom-right-radius: 15px;
}

/* ========================================================= */
/* sender message image */
.sender_message_image {
  width: 235px;
  height: 191px;
}

/* ========================================================= */
/* typing area container */
.typing_area_container {
  height: 15%;
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

/* ========================================================= */
/* typing area */
.typing_area {
  gap: 20px;
  width: 68%;
  display: flex;
  overflow: hidden;
  align-items: center;
  border-radius: 15px;
  background: #ffffff24;
}

/* ========================================================= */
/* type message input  */
.type_message_input {
  width: 86%;
  height: 36px;
  border: none;
  outline: none;
  padding: 0 1rem;
  font-size: 11px;
  font-weight: 300;
  line-height: 13.26px;
  font-family: sans-serif;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  background-color: transparent;
}

/* ========================================================= */
/*  mic recoder icon  */
.mic_recoder_icon {
  width: 12px;
  height: 15px;
}

/* ========================================================= */
/*  typing area  icon  */
:is(.send_arrow_icon, .gallery_icon, .emoji_icon) {
  width: 25px;
  height: 25px;
}

/* ========================================================= */
/* active friends list  */
.active_friends_list {
  width: 30%;
  color: #ffffff;
  padding-left: 1rem;
  background: linear-gradient(
    233.4deg,
    #161515 72.23%,
    rgba(214, 24, 206, 0.92) 105.25%
  );
}

/* ========================================================= */
/* Direct title */
.direct_title {
  height: 15%;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  line-height: 32.8px;
  align-items: center;
  justify-content: center;
  font-family: "Catamaran", serif;
}

/* ========================================================= */
/* active group list*/
.active_group_list {
  gap: 20px;
  height: 85%;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

/* ========================================================= */
/* active group list*/
.active_group {
  gap: 20px;
  display: flex;
  align-items: center;
}

/* ========================================================= */
/* group profile container */
.group_profile_container {
  position: relative;
}

/* ========================================================= */
/* group profile picture  */
.group_profile_picture {
  width: 38px;
  height: 50px;
}

/* ========================================================= */
/* group online status  */
.group_online_status {
  bottom: 5%;
  right: 0%;
  width: 12px;
  height: 13px;
  position: absolute;
  border-radius: 50%;
}

/* ========================================================= */
/* group online   */
.group_online {
  background: #31b957;
}

/* ========================================================= */
/* group offline   */
.group_offline {
  background: #646266;
  border: 3px solid #000000;
}

/* ========================================================= */
/*  group name  */
.group_name {
  font-size: 20px;
  font-weight: 600;
  line-height: 32.8px;
  font-family: "Catamaran", serif;
}
