.all{
    /* padding: 10px; */
    margin: 20px;
    background-color: rgb(69, 45, 64);
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: scroll;
}

h2{
    color: blue;
    display: block;
}
.line{
    line-height: 2px;
    padding: 6px;
    margin: 20px;
}

.img{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}