*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(/src/images/header-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    gap: 20rem;
    height: 500px;
    color: white;
}
.container{
    
}
.container fieldset{
    display: grid;
    
    /* justify-content: center; */
    place-items: center;
}
.container fieldset legend{
    text-align: center;

}
.imgBox{
    width: 100%;
}
.imgBox img{
    height: 40.5rem;
    width: 100%;
}