* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
  background-image: url("../../src/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome-container {
  padding-top: 20px;
}

.small-logo {
  width: 60px;
  height: 60px;
  margin-left: 9px;
  display: none;
}

.big-logo {
  margin-left: 9px;
}
.jh {
  background: linear-gradient(180deg, black 10%, purple 60%);
  padding: 30px;
  border-radius: 10px;
}
.hj {
  display: flex;
  gap: 90px;
  margin-top: 80px;
  justify-content: center;
  cursor: pointer;
}
.hj p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 50px;
  padding-top: 15px;
  color: white;
}

.back {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 20px;
  color: white;
}
.logo {
  height: 90px;
  margin-left: 110px;
  margin-top: 40px;
}

@media (max-width: 700px) {
  .hj {
    display: flex;
    gap: 20px;
    margin-top: 80px;
  }
  .jh img {
    width: 50px;
    height: 50px;
  }
  .jh {
    padding: 20px;
  }
  .hj p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 50px;
    padding-top: 15px;
    color: white;
  }
  .back {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 20px;
    color: white;
  }
  .logo {
    height: 70px;
    width: 200px;
    margin-left: auto;
    margin-left: 40px;
    margin-top: 40px;
    border-radius: 10px;
  }
  .con {
    background-image: url("/src/images/background.png");
    padding-bottom: 160px;
    padding-top: 50px;
  }
  .big-logo {
    display: none;
  }
  .small-logo {
    display: block;
    object-fit: cover;
    border-radius: 15px;
    background-color: white;
  }
}
