* {
  margin: 0;
  padding: 0;
}
.coming {
  text-align: center;
  align-items: center;
  font-size: 100px;
  padding-top: 120px;
  padding-bottom: 300px;
  color: white;
}
.body {
  background: url("../../src/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.body img {
  padding-top: 20px;
  padding-left: 20px;
  
}
.body .logo img {
  width: 4.0rem;
  height: 3rem;
  border-radius: 20px;
  display: none;
 
}
@media (max-width: 902px) {
  .big-logo {
    display: none;
  }

.body .logo img{
  display: block;
  margin-top: -1.5rem;
  position: relative;
  right: 16.9px;
  border-radius: 40px;
  height: 48px;
  width: 66px;
}

.logo{
  border-radius: 1.3rem;
border: 5px solid white;
  width: 70px;
  height: 40px;
  margin-left: 20px;
  padding-top: 0px;
  margin-bottom: -1.0rem;
  background-color: white;
  position: relative;
  top: 10px;
}
  .coming {
    font-size: 50px;
  }
}
